<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        The Home Page
    </h1>
    
    <h2>Welcome to the Home Page!</h2>
    <h3>You can use following routes :
    <ul>
        <li>
             Home or root  : " <em>/</em> "   
        </li>
        <li>
             reddit demo route : " <em>/r/_subreddit_</em> "   
        </li>
        <li>
             Even/Odd Query route : " <em>/eo?num=_some_number_</em> "    
        </li>
        <li>
             Diceroll route : " <em>/diceroll</em> "        
        </li>
        <li>
             Cats route : " <em>/cats</em> "        
        </li>
   </ul>
   </h3>
</body>
</html>