<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR: 404!</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <style>
        body {
            font-size: xx-large;
            color: grey;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><em>404: Page not found.</em></h1>
</body>
</html>