<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h3>User: <em><%= comment.username %></em></h3>    
    <form action="/comments/<%=comment.id%>?_method=PATCH" method="post">
            <section>
                <label for="Comment">Edit comment: </label><br>
                <textarea name="comment" id="Comment" cols="30" rows="5"><%= comment.comment %></textarea>
            </section>    
            <button>EDIT</button> <a href="/comments">Cancel</a>
    </form>   
</body>
</html>