<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>
<body>
        <h1>comments</h1>
        <ul>
            <% for (let c of comments){ %>
            <li><%= c.comment  %> - <b><%= c.username %></b>
            <a href="/comments/<%=c.id%>">Details</a>
            <form action="/comments/<%= c.id %> " method="patch">
            <button>Edit Comment</button>
            </form>
            </li>
            <% } %>
        </ul>
        <form action="/comments/new">
        <button>Enter Comment</button>
        </form>
</body>
</html>