/*To be refactored*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');
body{
    font-family:'Oswald', serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}
/*---- Nav-Section ---- */
#wrap{
  display: flex;
  background-color:#556;
  color: azure; 
  padding: 1rem 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0.2em 0.25em 0.5em 0.1em #afafaf;
 }
 .navhead{
   margin: auto;
   font-size: 1.75em;  
   font-family: 'Palette Mosaic', cursive;
 }
 #searchform {
   margin: auto;
   display:inline;
 }
 #searchform input[type="text"]{
 outline: none;
 display: inline;
 border: none;
 position: relative;
 right: -1.5em;
 padding:0.2em;
 padding-left: 0;
 padding-right: 1em;
 font-size: 1em;
 font-weight: 100;
 font-family: 'Lato';
 background:none;
 width:0px;
 color:azure;
 z-index: 3;
 transition: width 4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
 cursor: pointer;
 }
 #searchform input[type="text"]:focus{
  cursor: text;
  width: 15em;
  z-index: 1;
  border-bottom: 1px solid azure;
 }
 #searchform input[type="text"]:focus:hover{
 border-bottom: 1px solid azure;
 }
 #searchform input[type="text"]::placeholder{
  color: azure;
  opacity: 0;
  transition: opacity 4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
} 
#searchform input[type="text"]:focus::placeholder{
opacity: 0.5 ;
transition: opacity 4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
} 
#searchform input[type="text"]:focus:hover::placeholder{
    opacity: 0.75 ;
}


button{
  display: inline;
  padding:0;
  height: 1.5em;
  width: 1.5em;
  text-indent: -99999em;
  background: url(search-3-64.ico) center center no-repeat;
  background-size: 1.5em;
  border:none;
  z-index: 2;
  cursor: pointer;
  transition: opacity .4s ease;
}

/* ---- Main Content ---- */
.main{
  display: flex;
  width: 100%;
  height:100%;
  margin:auto;  
  font-family:'Lato', sans-serif;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: visible;
}

.main h2{
  align-self: center;
  font-size: 1.25em;
  font-family: 'Raleway',sans-serif;
  font-weight: 200;
  font-style: italic;
}
.container{
  display: flex;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items:flex-start;
  align-content:center;
}
.res{
  display: flex;
  flex-direction:column;
  width:17.5rem;
  height: 22.5rem;
  justify-content: space-around;
  background-color:azure;
  box-shadow: 0.2em 0.25em 0.25em 0.1em #afafaf;
  margin: 0.25em 0.25em;
  padding:auto;
  align-items:center; 

}
.res h3{
  font-family: 'Lato',sans-serif;
  font-weight:300;
  overflow:visible;
  margin: auto;
  font-size: 1.5em;
  margin-top:0.5;
}
.res img{
  margin: auto;
}